<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Heliostat /mobile/</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.mobile-1.3.1.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='extrafeatures.css') }}">
    <script src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.mobile-1.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='codiqa.ext.js') }}"></script>
    <script src="http://maps.google.com/maps/api/js?libraries=places&region=uk&language=en&sensor=true"></script>

</head>
<body>
    <div data-role="page" data-control-title="login" id="page3">
        <div data-role="panel" id="panel3" data-position="left" data-display="reveal" data-theme="a">
            <ul data-role="listview" data-divider-theme="h" data-inset="false">
                <li data-theme="a">
                    <a href="#page3" data-transition="slide">
                        Login
                    </a>
                </li>
                <li data-theme="a">
                    <a href="#page4" data-transition="slide">
                        Coordinates
                    </a>
                </li>
                <li data-theme="a">
                    <a href="#page5" data-transition="slide">
                        Controls
                    </a>
                </li>
            </ul>
        </div>
        <div data-theme="a" data-role="header">
            <a data-controltype="panelbutton" data-role="button" href="#panel3" data-icon="bars"
               data-iconpos="notext" class="ui-btn-left">
            </a>
            <h3>
                Heliostat
            </h3>
        </div>

        <div data-role="content">
            <div data-controltype="textblock">
                <p>
                    <b>
                        Date &amp; Time
                    </b>
                </p>
            </div>
            <hr style="height:1px; background-color:#ccc; border:0; margin-top:12px; margin-bottom:12px;">
            <div data-role="fieldcontain" data-controltype="textinput">
                <label for="textinput1">
                    Name
                </label>
                <input name="" id="textinput1" placeholder="" value="" type="text">
            </div>
            <div data-role="fieldcontain" data-controltype="textinput">
                <label for="textinput2">
                    Password
                </label>
                <input name="" id="textinput2" placeholder="" value="" type="password">
            </div>
            <input type="submit" value="Submit">
        </div>
    </div>


    <div data-role="page" data-control-title="coordinates" id="page4">
        <div data-theme="a" data-role="header">
            <a data-controltype="panelbutton" data-role="button" href="#panel3" data-icon="bars"
               data-iconpos="notext" class="ui-btn-left">
            </a>
            <h3>
                Header
            </h3>
        </div>
        <div data-role="content">
            <div data-role="fieldcontain" data-controltype="textinput">
                <label for="textinput6">
                    Address
                </label>
                <input id="searchTextField" type="text" size="50" style="text-align: left;width:357px;direction: ltr;">
            </div>
            <div id="map_canvas" class="google-map" style="width: 288px; height: 200px; margin-left: auto; margin-right: auto">
            </div>

            <!--http://jsfiddle.net/DXkZJ/1/-->
            <script type="text/javascript">
                $(function () {
                    var lat = 48.669026,
                        lng = 19.69902400000001,
                        latlng = new google.maps.LatLng(lat, lng),
                        image = 'http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png';

                    //zoomControl: true,
                    //zoomControlOptions: google.maps.ZoomControlStyle.LARGE,

                    var mapOptions = {
                        center: new google.maps.LatLng(lat, lng),
                        zoom: 5,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        panControl: true,
                        panControlOptions: {
                            position: google.maps.ControlPosition.TOP_RIGHT
                        },
                        zoomControl: true,
                        zoomControlOptions: {
                            style: google.maps.ZoomControlStyle.SMALL,
                            position: google.maps.ControlPosition.TOP_LEFT
                        }
                    },
                    map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions),
                        marker = new google.maps.Marker({
                            //position: latlng,
                            map: map,
                            icon: image
                        });

                    var input = document.getElementById('searchTextField');
                    var autocomplete = new google.maps.places.Autocomplete(input, {
                        types: ["geocode"]
                    });

                    autocomplete.bindTo('bounds', map);
                    var infowindow = new google.maps.InfoWindow();

                    google.maps.event.addListener(autocomplete, 'place_changed', function (event) {
                        infowindow.close();
                        var place = autocomplete.getPlace();
                        if (place.geometry.viewport) {
                            map.fitBounds(place.geometry.viewport);
                        } else {
                            map.setCenter(place.geometry.location);
                            map.setZoom(10);
                        }

                        moveMarker(place.name, place.geometry.location);
                        $('.MapLat').val(place.geometry.location.lat());
                        $('.MapLon').val(place.geometry.location.lng());
                    });
                    google.maps.event.addListener(map, 'click', function (event) {
                        $('.MapLat').val(event.latLng.lat());
                        $('.MapLon').val(event.latLng.lng());
                        infowindow.close();
                        var geocoder = new google.maps.Geocoder();
                        geocoder.geocode({
                            "latLng": event.latLng
                        }, function (results, status) {
                            console.log(results, status);
                            if (status == google.maps.GeocoderStatus.OK) {
                                console.log(results);
                                var lat = results[0].geometry.location.lat(),
                                    lng = results[0].geometry.location.lng(),
                                    placeName = results[0].address_components[0].long_name,
                                    latlng = new google.maps.LatLng(lat, lng);

                                moveMarker(placeName, latlng);
                                $("#searchTextField").val(results[0].formatted_address);
                            }
                        });
                    });

                    function moveMarker(placeName, latlng) {
                        marker.setIcon(image);
                        marker.setPosition(latlng);
                        infowindow.setContent(placeName);
                        //infowindow.open(map, marker);
                    }
                });
            </script>
            <div data-role="fieldcontain" data-controltype="textinput">
                <label for="textinput5">
                    Latitude
                </label>
                <input name="latitude" class="MapLat" value="" type="text" placeholder="Latitude" style="width: 161px;" disabled>
            </div>
            <div data-role="fieldcontain" data-controltype="textinput">
                <label for="textinput4">
                    Langtitude
                </label>
                <input name="longitude" class="MapLon" value="" type="text" placeholder="Longitude" style="width: 161px;" disabled>
            </div>
            <input type="submit" value="Submit">
        </div>
    </div>

    <div data-role="page" data-control-title="controls" id="page5">
        <div data-theme="a" data-role="header">
            <a data-controltype="panelbutton" data-role="button" href="#panel3" data-icon="bars"
               data-iconpos="notext" class="ui-btn-left">
            </a>
            <h3>
                Header
            </h3>
        </div>
        <div data-role="content">
            <div data-role="fieldcontain" data-controltype="slider">
                <label for="slider1">
                    East-West (0&deg; = South, &#177;75&deg;)
                </label>
                <input id="slider1" type="range" name="slider" value="0" min="-75" max="75"
                       data-highlight="false">
            </div>
            <div data-role="fieldcontain" data-controltype="slider">
                <label for="slider2">
                    <!--Up-Down (45 = horizont, max. -30/+120)-->
                    Up-Down (0&deg; = horizont, &#177;75&deg;)
                </label>
                <input id="slider2" type="range" name="slider" value="0" min="-75" max="75"
                       data-highlight="false">
            </div>
            <input type="submit" value="GOTO">
        </div>
    </div>

    </div>
</body>
</html>
